@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Open+Sans:wght@400;500&display=swap');

body{
    background-position: 80% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(/assets/b-bg.jpg);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 45px;
}

.paragrafo{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.titulo-inicial{
    font-size: 67px;
    font-style:normal;
    font-weight:700;
    line-height: 55px;
    padding-top: 8px;
}

.titulo-secundario{
    font-size: 25px;
    padding: 10px;
    font-weight: 700;
}

.titulo-inicial, .titulo-secundario, .paragrafo {
    text-transform: uppercase;
    font-family: 'B612', sans-serif;
}

.conteudo{
    padding: 20px 160px; /*  */
    margin: 50px auto;
}

.conteudo-secundario{
    float: left;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.img-conteudo{
    float: left;
    max-height: 250px;
    max-width: 600px;
    padding: 0px 60px 0px 20px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sinopse{
    color: rgb(255, 255, 255);
    height: 50px;
    padding: 10px 0;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    text-align: justify;
}

.img-relogio{
    width: 25px;
    height: 25px;
    max-height: 100px;
    max-width: 100px;
    padding: 0 10px 0 0;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#paragrafo-minutagem {
    font-size: 18px;
    font-family: 'B612', sans-serif;
    font-weight: 700;
    padding-right: 50px;
}

.star{
    width: 25px;
    height: 25px;
    padding: 0 5px 10px;
}

.no-star{
    width: 25px;
    height: 25px;
    padding: 0 5px 10px;
}

.year-movie {
    font-family: 'B612', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 160px;
}

.botoes {
    float: left;
    margin: 30px 0;
}

#button-1 {
    background-color: rgb(0, 114, 210);
    border: rgb(0, 114, 210);
    border-radius: 3px;
    width: 140px;
}

#button-2 {
    background-color: rgb(19, 19, 24);
    border: 1px rgb(255, 255, 255);
    border-radius: 3px;
    width: 140px;
}

#button-1, #button-2 {
    height: 40px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}